@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    height: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(135deg, orange, orange 60%, cyan);
    font-family: 'Open Sans', sans-serif;
}

.container {
    height: 75%;
    width: 50%;
    background: white;
}