*{
    font-family: sans-serif;
    font-size: 1.4em;
}

.container {
    height: 400px;
    max-width: 1110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 100px;
    margin: 1px;
    padding: 10px;
    background-color: purple;
    color: white;
}