*{
    font-family: sans-serif;
    font-size: 1.4em;
}

.container {
    height: 400px;
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
}

.box {
    height: 100px;
    margin: 1px;
    padding: 10px;
    background-color: purple;
    color: white;
}

.box2.box3.box5.box6.box8.box9 {
    grid-column: 2 / 4;
}