*{
    font-family: sans-serif;
    font-size: 1.4em;
}

.container {
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto;
}

.box {
    margin: 1px;
    padding: 10px;
    background-color: purple;
    color: white;
}

.box5 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}