*{
    font-family: sans-serif;
    font-size: 1.4em;
}

.container {
    height: 400px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: auto auto auto;
}

.box {
    font-size: 2rem;
    margin: 1px;
    padding: 10px;
    background-color: purple;
    color: white;
}

.box1 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.box2 {
    grid-column: 4 / 6;
    grid-row: 1 / 2;
}

.box5 {
    grid-column: 1 / 6;
    grid-row: 3 / 4;
}